td{
  border:2px solid #111;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  cursor:pointer;
  font-size:70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table{
  border-collapse: collapse;
  position: absolute;
  left:50%;
  margin-left: -155px;
  background: #fff;
}

h1{
  text-align:center;
  text-decoration: underline;
}

body{
  background: #eee;
}

.cell:first-child{
  border-left:none;
}

.cell:last-child{
  border-right:none;
}

table tr:first-child td{
  border-top:none;
}

table tr:last-child td{
  border-bottom:none;
}

.btn{
  position:absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  right:10px;
  font-size:10px;
  top:0;
  background: #111;
  color:#fff;
}

.endgame{
  display: none;
  background: #b2b2b2;
  width:200px;
  top:120px;
  left:50%;
  position:absolute;
  margin-left:-100px;
  padding-top:50px;
  padding-bottom:50px;
  text-align:center;
  border-radius:5px;
  color:#111;
  font-size:2em;
}

